section#entrance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25vh 0;
  min-height: 100vh;
  @include mq('desktop') {
    padding-bottom: 40px;
  }
  .mobile-logo,
  .logo {
    max-width: 100px;
    position: absolute;
    top: calc(1 / 1.5 * 45px);
  }
  .wrapper {
    width: 100%;
    height: fit-content;
    @include mq('desktop') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: fit-content(100%);
    }
  }
  .me {
    display: none;
    @include mq('desktop') {
      display: flex;
      align-items: center;
      position: relative;
      left: 12.5%;
      bottom: 100px;
      min-width: 110%;
    }
  }
  .text {
    grid-column: 1 / -1;
    max-width: 90%;
    margin: 0 auto;
    @include mq('desktop') {
      grid-column: 2 / 3;
      max-width: 100%;
      margin: 12.5% 25% 0 0;
      h1 {
        @include typo(72, $cwhite, 'main');
        padding: 0;
        text-align: right;
      }
      h3 {
        font-size: calc(48 / 16) + rem;
        flex-direction: row;
        justify-content: right;
      }
      svg {
        transform: translateX(7.5%);
      }
      button {
        left: 25%;
        p {
          @include typo(36, $cwhite, 'sec');
        }
        img {
          min-width: 32px;
        }
      }
    }
  }
  h1,
  h3 {
    @include typo(48, $cwhite, 'main');
    text-align: center;
  }
  h3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @include typo(36, $cwhite, 'main');
    margin-top: 28px;
    margin-bottom: 100px;
    gap: 20px;
    strong {
      font-weight: 500;
    }
    img {
      max-width: 64px;
    }
  }
  .bar {
    @include bar;
  }
  h1 {
    padding-bottom: 10px;
  }
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    p {
      @include typo(24, $cwhite, 'sec');
    }
  }
  nav {
    display: none;
  }
  @include mq('desktop') {
    .mobile-logo {
      display: none;
    }
    nav {
      z-index: 3;
      position: fixed;
      top: 0;
      display: flex;
      min-width: calc(100vw - 60px);
      justify-content: space-between;
      align-items: center;
      padding: 48px 40px 28px 40px;
      border-bottom: 1px solid $red;
      transition: all 0.5s ease-in-out;
      &.active {
        min-width: 100vw;
        padding: 14px 40px;
        background: #000000ee;
      }
      img.logo {
        top: 0;
        left: 10px;
        position: relative;
      }
      .links {
        display: flex;
        gap: 40px;
        align-items: center;
        a {
          @include typo(24, $cwhite, 'sec');
          flex: 1;
          white-space: nowrap;
          cursor: pointer;
          padding-bottom: 5px;
          transition: box-shadow 0.25s;
          &.active {
            box-shadow: 0 2px $red;
          }
        }
      }
      .sm {
        display: flex;
        gap: 25px;
        align-items: center;
        img {
          min-width: 25px;
        }
      }
    }
  }
}
