footer {
  background-color: #000000aa;
  .bar {
    @include bar;
    @include mq('desktop') {
      rect {
        width: 100%;
        transform: translateX(-10%);
      }
    }
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding-bottom: 30px;
  @include mq('desktop') {
    padding: 0;
  }
  p {
    @include typo(14, $cwhite, 'sec');
    padding: 15px 0;
    &:last-of-type {
      padding: 0 0 15px 0;
    }
    @include mq('desktop') {
      @include typo(18, $cwhite, 'sec');
    }
  }
  .footer-icons {
    display: flex;
    min-width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    @include mq('desktop') {
      display: none;
    }
    img {
      width: 32px;
    }
  }
}
