@keyframes unshowWork {
  from {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
  to {
    clip-path: inset(0 50% 0 50%);
    opacity: 0.75;
  }
}

@keyframes showWork {
  to {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
  from {
    clip-path: inset(0 50% 0 50%);
    opacity: 0.75;
  }
}

section#portfolio {
  @include mq('desktop') {
    h3 {
      @include typo(36, $cwhite, 'main');
    }
    svg rect {
      width: 25%;
      transform: translateX(12.5%);
    }
  }
  .portfolio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 30px;
    margin-top: 30px;
    .pagination-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      button {
        transition: opacity 0.25s;
      }
      button:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
      button:first-child {
        transform: rotate(90deg);
      }
      button:last-child {
        transform: rotate(-90deg);
      }
      p {
        @include typo(16, $cwhite, 'sec');
      }
    }
  }
  .grid {
    display: grid;
    margin: 0 20px;
    grid-template-columns: 1fr;
    gap: 20px;
    min-width: 100%;
    padding: 0 20px;
    position: relative;
    @include mq('desktop') {
      margin: 0;
      padding: 0;
    }
    .slide {
      display: flex;
      gap: 0px;
      align-items: center;
      min-width: 100%;
    }
    .loading {
      position: relative;
      bottom: 25vh;
      background-color: transparent;
      backdrop-filter: blur(0px);
      img {
        width: 25%;
      }
    }
    .work {
      display: none;
      @include mq('desktop') {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: fit-content;
        text-align: center;
        min-width: 50%;
        transform: scale(0.8);
        clip-path: inset(0 50% 0 50%);
        opacity: 0.75;
        animation: showWork 0.5s forwards;
        filter: saturate(0.5) blur(1px);
        transition: all 0.25s;
        img {
          border: 1px solid $red;
          width: 100%;
          height: 100%;
        }
        p {
          @include typo(28, $cwhite, 'sec');
          width: 75%;
          margin: 20px auto;
          padding-bottom: 20px;
          border-bottom: 1px solid $red;
        }
        button {
          @include button(24);
          max-width: fit-content;
          padding: 6px 20px;
          margin: 0 auto;
        }
        &.on {
          transform: scale(1);
          filter: saturate(1) blur(0px);
          cursor: move;
        }
      }
      &.show {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: fit-content;
        clip-path: inset(0 50% 0 50%);
        animation: showWork 0.5s forwards;
        img {
          border: 1px solid $red;
        }
        p {
          @include typo(16, $cwhite, 'sec');
          width: fit-content;
          margin: 10px auto;
          padding-bottom: 10px;
          border-bottom: 1px solid $red;
        }
      }
    }
    .details {
      display: none;
      &.show {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 40% 1fr;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: black;
        animation: showWork 0.5s ease-in-out forwards;
        @include mq('desktop') {
          z-index: 3;
          grid-template-columns: 75% 25%;
          grid-template-rows: 100%;
        }
        &.closing {
          animation: unshowWork 0.5s ease-in-out forwards;
        }
        .loading {
          position: absolute;
          z-index: 2;
          min-height: 100%;
          bottom: 0;
          background-color: #000000 + AA;
          &.concluded {
            background-color: transparent;
          }
          @include mq('desktop') {
            min-width: 100%;
          }
        }
        img {
          border: none;
          &.cross {
            display: block;
            z-index: 3;
            position: absolute;
            right: 0px;
            padding: 16px;
            pointer-events: all;
          }
        }
        iframe {
          min-height: 100%;
          min-width: 100%;
          pointer-events: none;
        }
        .info-wrapper {
          display: grid;
          grid-template-rows: fit-content(100%) 1fr fit-content(100%) fit-content(
              100%
            );
          height: 60vh;
          padding-bottom: 20px;
          overflow-y: scroll;
          @include custom-scrollbar;
          @include mq('mobile') {
            border-top: 1px solid $red;
            scrollbar-width: 2.5px;
            &::-webkit-scrollbar {
              width: 2.5px;
            }
          }
          @include mq('desktop') {
            padding-top: 40px;
          }
          h4 {
            @include typo(18, $cwhite, 'sec');
            text-align: center;
            margin: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $red;
          }
          p {
            @include typo(18, $cwhite, 'sec');
            margin: 10px 20px;
          }
          button {
            @include button(24);
            @include mq('mobile') {
              @include button(18);
            }
            height: fit-content;
            width: fit-content;
            padding: 6px 20px;
            margin: 0 auto;
            gap: 10px;
            z-index: 4;
            a {
              text-decoration: none;
              color: $cwhite;
            }
            &:last-of-type {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
