// Colors
$cblack: #0e0004;
$cwhite: #d8d5d6;
$red: #6b0f1a;
$wine: #31081f;

// Tipography
$main_font: 'Rajdhani', sans-serif;
$sec_font: 'Play', sans-serif;
@mixin typo($size, $color: $cwhite, $type, $pixel: false) {
  color: $color;
  line-height: calc(1.28 * $size) + px;
  @if ($type == 'main') {
    font-family: $main_font;
  } @else {
    font-family: $sec_font;
  }
  @if ($pixel) {
    font-size: $size + px;
  } @else {
    font-size: calc($size / 16) + rem;
  }
}

// Miscellaneous mixins
@mixin bar {
  width: 100%;
  height: 1px;
}

@mixin button($size) {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  @include typo($size, $cwhite, 'sec');
  padding: 6px 5px;
  background: $cblack;
  border-top: 1px solid $red;
  border-bottom: 1px solid $red;
}

@mixin custom-scrollbar {
  scrollbar-width: 5px;
  scrollbar-color: $red;
  scrollbar-track-color: black;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: black;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $red;
  }
}

// Responsiveness
@mixin mq($type: 'desktop') {
  @if $type == 'desktop' {
    @media screen and (min-width: ( calc(1024 / 16) + rem)) {
      @content;
    }
  } @else if $type == 'tablet' {
    @media screen and (min-width: ( calc(640 / 16) + rem)) {
      @content;
    }
  } @else if $type == 'mobile' {
    @media screen and (max-width: ( calc(639 / 16) + rem)) {
      @content;
    }
  }
}
